In [25]:
# uncomment the line below and run this code cell once
#%run '../scripts/data_loader.py'

In [56]:
import pandas as pd 
import numpy as np 
import matplotlib as np 
from sklearn.preprocessing import OneHotEncoder

In [39]:
train = pd.read_csv('../data/train.csv')
valid = pd.read_csv('../data/valid.csv')
test = pd.read_csv('../data/test.csv')

In [40]:
print(f'The shape of the training set is:{train.shape}')
print(f'The shape of the cross-validation set is:{valid.shape}')
print(f'The shape of the test set is:{test.shape}')

The shape of the training set is:(134265, 6)
The shape of the cross-validation set is:(19181, 6)
The shape of the test set is:(38362, 6)

In [41]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134265 entries, 0 to 134264
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  134265 non-null  int64
 1   Drug1_ID    134265 non-null  object
 2   Drug1       134265 non-null  object
 3   Drug2_ID    134265 non-null  object
 4   Drug2       134265 non-null  object
 5   Y           134265 non-null  int64
dtypes: int64(2), object(4)
memory usage: 6.1+ MB

### train.info() returns information about the train dataset, namely the column names, and their data types
From the result above, the first column is the serial number. The dataset will be cleaned and the first column removed

In [42]:
train = train.drop(train.columns[0], axis=1)

In [43]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134265 entries, 0 to 134264
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Drug1_ID  134265 non-null  object
 1   Drug1     134265 non-null  object
 2   Drug2_ID  134265 non-null  object
 3   Drug2     134265 non-null  object
 4   Y         134265 non-null  int64
dtypes: int64(1), object(4)
memory usage: 5.1+ MB

In [44]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38362 entries, 0 to 38361
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  38362 non-null  int64
 1   Drug1_ID    38362 non-null  object
 2   Drug1       38362 non-null  object
 3   Drug2_ID    38362 non-null  object
 4   Drug2       38362 non-null  object
 5   Y           38362 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.8+ MB

### test.info() returns information about the train dataset, namely the column names, and their data types
From the result above, the first column is the serial number. The dataset will be cleaned and the first column removed

In [45]:
test = test.drop(test.columns[0], axis=1)

In [46]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38362 entries, 0 to 38361
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Drug1_ID  38362 non-null  object
 1   Drug1     38362 non-null  object
 2   Drug2_ID  38362 non-null  object
 3   Drug2     38362 non-null  object
 4   Y         38362 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.5+ MB

In [47]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19181 entries, 0 to 19180
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19181 non-null  int64
 1   Drug1_ID    19181 non-null  object
 2   Drug1       19181 non-null  object
 3   Drug2_ID    19181 non-null  object
 4   Drug2       19181 non-null  object
 5   Y           19181 non-null  int64
dtypes: int64(2), object(4)
memory usage: 899.2+ KB

### valid.info() returns information about the train dataset, namely the column names, and their data types
From the result above, the first column is the serial number. The dataset will be cleaned and the first column removed

In [48]:
valid = valid.drop(valid.columns[0], axis=1)

In [49]:
## Exploratory Data Analysis

In [50]:
train_X = train.iloc[:, :-1]
train_y = train.iloc[:, -1]

In [51]:
train_X.head()

,Drug1_ID,Drug1,Drug2_ID,Drug2
0,DB04571,CC1=CC2=CC3=C(OC(=O)C=C3C)C(C)=C2O1,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...
1,DB09536,O=[Ti]=O,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...
2,DB01600,CC(C(O)=O)C1=CC=C(S1)C(=O)C1=CC=CC=C1,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...
3,DB09000,CC(CN(C)C)CN1C2=CC=CC=C2SC2=C1C=C(C=C2)C#N,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...
4,DB11630,OC1=CC=CC(=C1)C-1=C2\CCC(=N2)\C(=C2/N\C(\C=C2)...,DB00460,COC(=O)CCC1=C2NC(\C=C3/N=C(/C=C4\N\C(=C/C5=N/C...

In [52]:
train_y.head()

0    1
1    1
2    1
3    1
4    1
Name: Y, dtype: int64

In [53]:
train_y.value_counts()

Y
49    42592
47    24102
73    16509
75     6539
60     5945
      ...
43        7
41        7
26        6
62        4
42        3
Name: count, Length: 86, dtype: int64

In [54]:
train_y.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86])

### To know what type of relation the label index corresponds to,run the cell below

In [55]:
from tdc.utils import get_label_map
get_label_map(name = 'DrugBank', task = 'DDI')

{1: '#Drug1 may increase the photosensitizing activities of #Drug2.',
 2: '#Drug1 may increase the anticholinergic activities of #Drug2.',
 3: 'The bioavailability of #Drug2 can be decreased when combined with #Drug1.',
 4: 'The metabolism of #Drug2 can be increased when combined with #Drug1.',
 5: '#Drug1 may decrease the vasoconstricting activities of #Drug2.',
 6: '#Drug1 may increase the anticoagulant activities of #Drug2.',
 7: '#Drug1 may increase the ototoxic activities of #Drug2.',
 8: 'The therapeutic efficacy of #Drug2 can be increased when used in combination with #Drug1.',
 9: '#Drug1 may increase the hypoglycemic activities of #Drug2.',
 10: '#Drug1 may increase the antihypertensive activities of #Drug2.',
 11: 'The serum concentration of the active metabolites of #Drug2 can be reduced when #Drug2 is used in combination with #Drug1 resulting in a loss in efficacy.',
 12: '#Drug1 may decrease the anticoagulant activities of #Drug2.',
 13: 'The absorption of #Drug2 can be decreased when combined with #Drug1.',
 14: '#Drug1 may decrease the bronchodilatory activities of #Drug2.',
 15: '#Drug1 may increase the cardiotoxic activities of #Drug2.',
 16: '#Drug1 may increase the central nervous system depressant (CNS depressant) activities of #Drug2.',
 17: '#Drug1 may decrease the neuromuscular blocking activities of #Drug2.',
 18: '#Drug1 can cause an increase in the absorption of #Drug2 resulting in an increased serum concentration and potentially a worsening of adverse effects.',
 19: '#Drug1 may increase the vasoconstricting activities of #Drug2.',
 20: '#Drug1 may increase the QTc-prolonging activities of #Drug2.',
 21: '#Drug1 may increase the neuromuscular blocking activities of #Drug2.',
 22: '#Drug1 may increase the adverse neuromuscular activities of #Drug2.',
 23: '#Drug1 may increase the stimulatory activities of #Drug2.',
 24: '#Drug1 may increase the hypocalcemic activities of #Drug2.',
 25: '#Drug1 may increase the atrioventricular blocking (AV block) activities of #Drug2.',
 26: '#Drug1 may decrease the antiplatelet activities of #Drug2.',
 27: '#Drug1 may increase the neuroexcitatory activities of #Drug2.',
 28: '#Drug1 may increase the dermatologic adverse activities of #Drug2.',
 29: '#Drug1 may decrease the diuretic activities of #Drug2.',
 30: '#Drug1 may increase the orthostatic hypotensive activities of #Drug2.',
 31: 'The risk or severity of hypertension can be increased when #Drug2 is combined with #Drug1.',
 32: '#Drug1 may increase the sedative activities of #Drug2.',
 33: 'The risk or severity of QTc prolongation can be increased when #Drug1 is combined with #Drug2.',
 34: '#Drug1 may increase the immunosuppressive activities of #Drug2.',
 35: '#Drug1 may increase the neurotoxic activities of #Drug2.',
 36: '#Drug1 may increase the antipsychotic activities of #Drug2.',
 37: '#Drug1 may decrease the antihypertensive activities of #Drug2.',
 38: '#Drug1 may increase the vasodilatory activities of #Drug2.',
 39: '#Drug1 may increase the constipating activities of #Drug2.',
 40: '#Drug1 may increase the respiratory depressant activities of #Drug2.',
 41: '#Drug1 may increase the hypotensive and central nervous system depressant (CNS depressant) activities of #Drug2.',
 42: 'The risk or severity of hyperkalemia can be increased when #Drug1 is combined with #Drug2.',
 43: 'The protein binding of #Drug2 can be decreased when combined with #Drug1.',
 44: '#Drug1 may increase the central neurotoxic activities of #Drug2.',
 45: '#Drug1 may decrease effectiveness of #Drug2 as a diagnostic agent.',
 46: '#Drug1 may increase the bronchoconstrictory activities of #Drug2.',
 47: 'The metabolism of #Drug2 can be decreased when combined with #Drug1.',
 48: '#Drug1 may increase the myopathic rhabdomyolysis activities of #Drug2.',
 49: 'The risk or severity of adverse effects can be increased when #Drug1 is combined with #Drug2.',
 50: 'The risk or severity of heart failure can be increased when #Drug2 is combined with #Drug1.',
 51: '#Drug1 may increase the hypercalcemic activities of #Drug2.',
 52: '#Drug1 may decrease the analgesic activities of #Drug2.',
 53: '#Drug1 may increase the antiplatelet activities of #Drug2.',
 54: '#Drug1 may increase the bradycardic activities of #Drug2.',
 55: '#Drug1 may increase the hyponatremic activities of #Drug2.',
 56: 'The risk or severity of hypotension can be increased when #Drug1 is combined with #Drug2.',
 57: '#Drug1 may increase the nephrotoxic activities of #Drug2.',
 58: '#Drug1 may decrease the cardiotoxic activities of #Drug2.',
 59: '#Drug1 may increase the ulcerogenic activities of #Drug2.',
 60: '#Drug1 may increase the hypotensive activities of #Drug2.',
 61: '#Drug1 may decrease the stimulatory activities of #Drug2.',
 62: 'The bioavailability of #Drug2 can be increased when combined with #Drug1.',
 63: '#Drug1 may increase the myelosuppressive activities of #Drug2.',
 64: '#Drug1 may increase the serotonergic activities of #Drug2.',
 65: '#Drug1 may increase the excretion rate of #Drug2 which could result in a lower serum level and potentially a reduction in efficacy.',
 66: 'The risk or severity of bleeding can be increased when #Drug1 is combined with #Drug2.',
 67: '#Drug1 can cause a decrease in the absorption of #Drug2 resulting in a reduced serum concentration and potentially a decrease in efficacy.',
 68: '#Drug1 may increase the hyperkalemic activities of #Drug2.',
 69: '#Drug1 may increase the analgesic activities of #Drug2.',
 70: 'The therapeutic efficacy of #Drug2 can be decreased when used in combination with #Drug1.',
 71: '#Drug1 may increase the hypertensive activities of #Drug2.',
 72: '#Drug1 may decrease the excretion rate of #Drug2 which could result in a higher serum level.',
 73: 'The serum concentration of #Drug2 can be increased when it is combined with #Drug1.',
 74: '#Drug1 may increase the fluid retaining activities of #Drug2.',
 75: 'The serum concentration of #Drug2 can be decreased when it is combined with #Drug1.',
 76: '#Drug1 may decrease the sedative activities of #Drug2.',
 77: 'The serum concentration of the active metabolites of #Drug2 can be increased when #Drug2 is used in combination with #Drug1.',
 78: '#Drug1 may increase the hyperglycemic activities of #Drug2.',
 79: '#Drug1 may increase the central nervous system depressant (CNS depressant) and hypertensive activities of #Drug2.',
 80: '#Drug1 may increase the hepatotoxic activities of #Drug2.',
 81: '#Drug1 may increase the thrombogenic activities of #Drug2.',
 82: '#Drug1 may increase the arrhythmogenic activities of #Drug2.',
 83: '#Drug1 may increase the hypokalemic activities of #Drug2.',
 84: '#Drug1 may increase the vasopressor activities of #Drug2.',
 85: '#Drug1 may increase the tachycardic activities of #Drug2.',
 86: 'The risk of a hypersensitivity reaction to #Drug2 is increased when it is combined with #Drug1.'}